---
import { NormalizePathPosix } from "../utils/NormalizePath"

import TableOfContents from "./TableOfContents.astro";
const { entry } = Astro.locals.starlightRoute;
const isSplash = entry.data.template === "splash";
const pathname = NormalizePathPosix(Astro.locals.starlightRoute.id);
---




{
  isSplash ? (
    <div class="w-full min-w-0">
      <slot />
    </div>
  ) : (
    <div class="w-full max-w-2xl min-w-0 px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
      <slot />
    </div>
  )
}


{  !isSplash && !["", "/", "tr", "/tr", "/tr/"].some( x => x == pathname) &&
<div class="relative">
    <TableOfContents  />
</div>
}